#dashboard {
  padding: 2rem;
}

#dashboard-container {
  border: 1px solid orange;
  padding: 0 2rem;
}

#dashboard-controls {
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}

#weeks-selection {
  border: 1px solid #ccc;
}

#dashboard-table-container {
  margin: 1rem 0;
}
