#dashboard {
    padding: 0 2rem;
    margin-top: 1rem;
}

#dashboard-controls {
    border-bottom: 2px solid gray;
    padding-bottom: 0.5rem;
}

#weeks-selection {
    padding: 0.5rem;
    margin: 0 5rem;
    width: 8rem;
}

#dashboard-table-container {
    margin: 1rem 0;
}