
#participants-table {
    margin-top: 1rem;
    padding: 0.2rem;
}

table, th, td {
    border: 1px solid gray;
    width: 100%;
}

th, td {
    width: 5rem;
    padding: 0.5rem;
    text-align: center;
}

button {
    padding: 0.5rem;
    background-color: white;
    border: 1px solid black;
}

#go-to-crnt-week {
    margin: 0 1rem;
}

#week-navigation-buttons {
    display: flex;
}

#dashboard-controls {
    display: flex
}