#dashboard {
    background-color: white;
    color: black;
    padding: 1rem;
}

#dashboard-controls, #dashboard-data {
    padding: 2rem 4rem;
    border: 1px solid gray;
    margin-top: 1rem ;
}

#weeks-selection {
    padding: 0.5rem;
    margin: 0 5rem;
    width: 8rem;
}

#participants-table {
    margin-top: 1rem;
    padding: 0.2rem;
}

table, th, td {
    border: 1px solid gray;
    width: 100%;
}

th, td {
    width: 5rem;
    padding: 0.5rem;
}