#participants-table {
  margin-top: 1rem;
  padding: 0.2rem;
}

table,
th,
td {
  border: 1px solid #ccc;
  width: 100%;
  color: darkgoldenrod;
}

th,
td {
  width: 5rem;
  padding: 0.5rem;
  text-align: center;
}

#go-to-crnt-week {
  margin: 0 1rem;
}

#week-navigation-buttons {
  margin-left: 1rem;
  display: flex;
}

#dashboard-controls {
  display: flex;
  align-items: center;
}
