#tab {
  padding: 0.4rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  border-bottom: 0;
}

#tab.selected-tab {
  color: white;
  border: 1px solid orange;
  background-color: orange;
  font-weight: bold;
}

#tab.not-selected {
  color: orange;
  background-color: white;
  border: 1px solid orange;
}
