#tab {
    padding: 0.4rem;
}

#tab.selected-tab {
    color: white;
    border: 2px solid orange;
    background-color: orange;
    border-bottom: 0;
    font-weight: bold;
}

#tab.not-selected {
    color: black;
    background-color: white;
    border: 1px solid black;
    border-right: 1px solid black;
}