@import "tailwindcss";

body {
  background-color: white;
}

#root {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightcyan;
  color: white;
  padding: 1rem;
}