@import "tailwindcss";

body {
  background-color: white;
}

#root {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightcyan;
  color: white;
  padding: 1rem;
}

select {
  color: orangered;
  padding: 0.2rem;
  border-radius: 0.5rem;
  display: inline-block;
  height: 2rem;
  border: 1px solid #ccc;
}

label {
  font-size: small;
  font-weight: bold;
  color: chocolate;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #ccc;
}

label.control {
  color: coral;
}

option {
  color: orangered;
}

button {
  color: orangered;
  font-size: small;
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 0 0.2rem;
  border-radius: 0.5rem;
  display: inline-block;
  height: 2rem;
}
